@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #fff; /* changed background color to white */
}

#app {
  width: 100vw;
  height: 100vh;
  background: #fff; /* changed background color to white */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #fff;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}


.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile img {
  width: 90%;
  height: auto;
  object-fit: contain;
}


.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.ai .profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #0a84ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .message {
  flex: 1;
  color: #fff;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #1E90FF;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  
} 

.message {
  flex: 1;

  color: black ;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;

  background-color: #c7c7cc; /* changed user message holder color to blue */
  border-radius: 10px; /* added round corners to message holders */
  padding: 10px; /* added padding to message holders */
  margin-left: 10px;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #89CFF0;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
